<mat-toolbar class="navbar">
  <button mat-icon-button (click)="onMenuToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar__brand">
    <span class="navbar__logo-wrap">
      <mat-icon class="navbar__logo">monitor_heart</mat-icon>
    </span>
    DiabeCare
  </span>

  <span class="navbar__spacer"></span>

  <button mat-icon-button [matTooltip]="themeService.isDark() ? 'Modo claro' : 'Modo oscuro'"
    (click)="themeService.toggleTheme()">
    <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/app/profile">
      <mat-icon>person</mat-icon>
      <span>Mi perfil</span>
    </button>
    <mat-divider />
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>