<div class="reset-password">
  <div class="reset-password__card">
    <div class="reset-password__header">
      <div class="reset-password__logo-wrap">
        <mat-icon class="reset-password__logo">monitor_heart</mat-icon>
      </div>
      <h1 class="reset-password__title">{{ 'auth.resetPassword.title' | transloco }}</h1>
      @if (!invalidLink) {
      <p class="reset-password__subtitle">{{ 'auth.resetPassword.subtitle' | transloco }}</p>
      }
    </div>

    @if (invalidLink) {
    <div class="reset-password__error-state">
      <mat-icon>error_outline</mat-icon>
      <p>{{ 'auth.resetPassword.invalidLink' | transloco }}</p>
      <a routerLink="/auth/forgot-password">{{ 'auth.resetPassword.requestNewLink' | transloco }}</a>
    </div>
    } @else {
    <form class="reset-password__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'auth.resetPassword.newPassword' | transloco }}</mat-label>
        <input matInput formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'"
          autocomplete="new-password" />
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword"
          [attr.aria-label]="(hidePassword ? 'auth.login.showPassword' : 'auth.login.hidePassword') | transloco">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('newPassword')?.hasError('required')) {
        <mat-error>{{ 'auth.login.passwordRequired' | transloco }}</mat-error>
        }
        @if (form.get('newPassword')?.hasError('minlength')) {
        <mat-error>{{ 'auth.resetPassword.passwordTooShort' | transloco }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'auth.resetPassword.confirmPassword' | transloco }}</mat-label>
        <input matInput formControlName="confirmPassword" type="password" autocomplete="new-password" />
        @if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.dirty) {
        <mat-error>{{ 'auth.resetPassword.passwordMismatch' | transloco }}</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="reset-password__submit" [disabled]="loading">
        @if (loading) {
        <mat-spinner diameter="20" />
        } @else {
        {{ 'auth.resetPassword.submit' | transloco }}
        }
      </button>
    </form>
    }

    <p class="reset-password__footer">
      <a routerLink="/auth/login">{{ 'auth.forgotPassword.backToLogin' | transloco }}</a>
    </p>
  </div>
</div>
