@if (alerts.length > 0) {
<div class="alerts-panel">
    @for (alert of alerts; track $index) {
    <div class="alerts-panel__item" [style.background-color]="getAlertBg(alert.severity)"
        [style.border-left-color]="getAlertColor(alert.severity)">
        <mat-icon class="alerts-panel__icon" [style.color]="getAlertColor(alert.severity)">
            {{ severityIcons[alert.severity] }}
        </mat-icon>
        <div class="alerts-panel__content">
            <span class="alerts-panel__title">{{ alert.title }}</span>
            <span class="alerts-panel__message">{{ alert.message }}</span>
        </div>
    </div>
    }
</div>
}